<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>"Primitive Technology" Ruby Blog</title>
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">

    <link rel="stylesheet" href="/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <link rel="stylesheet" href="/fonts/openiconic/css/open-iconic.css">
    <link rel="stylesheet" href="/fonts/lobster/lobster-font-family.css">
</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                        Blog  <span class="oi" data-glyph="bullhorn"></span>
                    </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                            Home
                        </a>
                    <a class="navbar-item">
                            Contacts
                        </a>
                    <a class="navbar-item">
                            Help
                        </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <section class="header-hero hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">Congratulations to first Homo Sapiens here!</h1>
                Stay tuned to humankind news on this web site...
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START HERO -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">First Aid guide here</p>
                            </div>
                        </div>
                        <div class="content article-body">
                           <ul>
                            <li> First </li>
                            <li> Second </li>
                           </ul>
                        </div>
                    </div>
                </div>
                <!-- END HERO -->
                <% posts.each do |post| %>
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                            <img src="<%= post[:fm][:avatar] %>" class="author-image" alt="Avatar">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title"><a href="/page/<%= post[:id] %>"><%= post[:fm][:title] %></a></p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#"><%= post[:fm][:author] %></a>
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <%= post[:body] %>
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <% end %>

                <!-- START PROMO BLOCK -->
                <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                <i class="fa fa-bell-o"></i> Thanks to Bulma Templates</h1>
                            <span class="tag is-black is-medium is-rounded">
                              https://github.com/BulmaTemplates/bulma-templates
                                </span>
                        </div>
                    </div>
                </section>
                <!-- END PROMO BLOCK -->
              </div>

        </section>
        <!-- END ARTICLE FEED -->
        </div>
</body>

</html>
